<ion-view view-title="Kids Tutor">
  <ion-content style="">
     <div class="cate-lv2" style="">
            <div class="card " ng-repeat="list in lists | filter:search" style="background-color:#EF473A">
                   <!-- <a class="item item-thumbnail-left item-text-wrap" href="#/app/touch/{{list.id}}">
                   
                    <!--<h2>{{list.title}} </h2>
                </a>-->
                <div class="item item-image" style="background-color:#EF473A;text-align:centre !important" >
                    <h1 style="text-align:centre !important;font-family:'cursive'">{{list.title}}</h1>
  </div>
                <a ng-href="#/app/touch/{{list.id}}"><img class="full-image" ng-src="img/{{list.head}}/{{list.img}}" style="height:100%;color:" ></a>
          
            </div>
        </div>
  </ion-content>
</ion-view>